In [122]:
import pandas as pd
import numpy as np

In [145]:
Lung1 = pd.read_csv("Lung1.csv")
Lung1 = Lung1.rename(columns={'Patient ID':'Patient', 'Amino Acid (protein)': 'Protein Change', 'Consequence':'Class'})
Lung1 = Lung1[["Patient", "Gene", "Protein Change", "Class"]]

Lung2 = pd.read_csv("Lung2.csv")
Lung2 = Lung2.rename(columns={"Hugo_Symbol":"Gene", "pair_id":"Patient", "Protein_Change":"Protein Change", "Variant_Classification":"Class"})
Lung2 = Lung2[["Patient", "Gene", "Protein Change", "Class"]]

Mel1 = pd.read_csv("Mel1.csv")
Mel1 = Mel1.rename(columns={"Sample":"Patient", "Variant_Class":"Class", "aaannotation":"Protein Change", "Hugo_Symbol":"Gene"})
Mel1 = Mel1[["Patient", "Gene", "Protein Change", "Class"]]

Mel2 = pd.read_csv("Mel2.csv")
Mel2 = Mel2.rename(columns={"Sample":"Patient", "MutType":"Class", "Aamut":"Protein Change"})
Mel2 = Mel2[["Patient", "Gene", "Protein Change", "Class"]]

Gene_list = ["TP53", "KRAS", "BRAF", "NRAS", "EGFR", "BCLAF1", "PIK3CA",\
             "ATM", "HLA-A", "HLA-B", "B2M", "JAK1", " NF1", "CDKN2A",\
             "TAP1", "TERT", "CTNNB1", "PPP6C", "STK11", "FAT1", "IFNGR1", "RAC1"]

df_combined = pd.concat([Lung1, Lung2 ,Mel1, Mel2], axis=0, ignore_index=True)
Gene_data = pd.DataFrame()
for i in range(len(Gene_list)):
    temp = df_combined[df_combined["Gene"] == Gene_list[i]]
    Gene_data = pd.concat([Gene_data, temp], axis = 0, ignore_index=True)

In [146]:
# ID = Gene_data["Patient"]
# ID_list = list(ID)
# unique_ID = []
# [unique_ID.append(item) for item in ID_list if item not in unique_ID]
# print(len(unique_ID))

Gene_descending = Gene_data.sort_values(by='Patient', ascending=False)
Pats = list(Gene_descending["Patient"])
frequency = pd.Series(Pats).value_counts()
Patient_list = frequency[frequency >= 3] #取出现3种以上突变的患者
Patient_list = list(Patient_list.index)
Patient_list

Mutation_data = pd.DataFrame()
for Pt in range(len(Patient_list)):
    pt_temp = Gene_data[Gene_data["Patient"] == Patient_list[Pt]]
    Mutation_data = pd.concat([Mutation_data, pt_temp], axis = 0, ignore_index=True)

matrix = Mutation_data.pivot_table(index='Gene', columns='Patient', values='Class', aggfunc='sum')

In [148]:
Clinical = pd.read_csv("/Users/tomasyang/Documents/YANG/科研/雪鸢组/杨强/HINS/R/Cohorts/Results.csv")
Clinical = Clinical[["Sample.ID", "Cancer", "Smoking", "Response"]]

Clinical_list = [s+"-T1" if s.startswith("SU2CLC") else s for s in Clinical["Sample.ID"]] #与Mutation数据中的Patient ID保持一致

Clinical["Sample.ID"] = Clinical_list
Clinical_data = pd.DataFrame()
for pt in range(len(Patient_list)):
    Cl_temp = Clinical[Clinical["Sample.ID"] == Patient_list[pt]]
    Clinical_data = pd.concat([Clinical_data, Cl_temp], axis = 0, ignore_index=True)

In [149]:
Gene_data.to_csv("Gene_data.CSV", index = None) #基因总体数据
matrix.to_csv("matrix.CSV")#所求基因突变数据
Clinical_data.to_csv("Clinical data.csv", index = None)#对应临床数据

In [5]:
Lung1 = Lung1[["Patient", "Gene", "Protein Change", "Class"]]
Lung2 = Lung2[["Patient", "Gene", "Protein Change", "Class"]]
Mel1 = Mel1[["Patient", "Gene", "Protein Change", "Class"]]
Mel2 = Mel2[["Patient", "Gene", "Protein Change", "Class"]]

Gene_list = ["TP53", "KRAS", "BRAF", "NRAS", "EGFR", "BCLAF1", "PIK3CA",\
             "ATM", "HLA-A", "HLA-B", "B2M", "JAK1", " NF1", "CDKN2A",\
             "TAP1", "TERT", "CTNNB1", "PPP6C", "STK11", "FAT1", "IFNGR1", "RAC1"]

      Patient      Gene Protein Change              Class
0         12A      RGS6        p.W317X  Nonsense_Mutation
1         12A  KIAA1737        p.P212S  Missense_Mutation
2         12A     UNC79        p.Q979K  Missense_Mutation
3         12A      PLD4         p.P22L  Missense_Mutation
4         12A  C15orf23         p.S24F  Missense_Mutation
...       ...       ...            ...                ...
36584      9D    ZNF498        p.V543L  Missense_Mutation
36585      9D      SSPO       p.R2616C  Missense_Mutation
36586      9D      GDF6        p.R286H  Missense_Mutation
36587      9D     ATAD2       p.R1332Q  Missense_Mutation
36588      9D     KCNC4        p.P639L  Missense_Mutation

[36589 rows x 4 columns]

In [48]:
Gene_list = ["TP53", "KRAS", "BRAF", "NRAS", "EGFR", "BCLAF1", "PIK3CA",\
             "ATM", "HLA-A", "HLA-B", "B2M", "JAK1", " NF1", "CDKN2A",\
             "TAP1", "TERT", "CTNNB1", "PPP6C", "STK11", "FAT1", "IFNGR1", "RAC1"]
Gene_list

['TP53',
 'KRAS',
 'BRAF',
 'NRAS',
 'EGFR',
 'BCLAF1',
 'PIK3CA',
 'ATM',
 'HLA-A',
 'HLA-B',
 'B2M',
 'JAK1',
 ' NF1',
 'CDKN2A',
 'TAP1',
 'TERT',
 'CTNNB1',
 'PPP6C',
 'STK11',
 'FAT1',
 'IFNGR1',
 'RAC1']

In [65]:
df_combined = pd.concat([Lung1, Lung2 ,Mel1, Mel2], axis=0, ignore_index=True)
Gene_data = pd.DataFrame()
for i in range(len(Gene_list)):
    temp = df_combined[df_combined["Gene"] == Gene_list[i]]
    Gene_data = pd.concat([Gene_data, temp], axis = 0, ignore_index=True)

Gene_data

                 Patient    Gene Protein Change              Class
0                CGLU111    TP53       993+1G>T        Splice Site
1                CGLU113    TP53         214H>R  Missense_Mutation
2                CGLU115    TP53         298E>X  Nonsense_Mutation
3                CGLU116    TP53         331Q>X  Nonsense_Mutation
4                CGLU117    TP53         193H>R  Missense_Mutation
..                   ...     ...            ...                ...
888  SU2CLC-MSK-A2028-T1  IFNGR1        p.E323G  Missense_Mutation
889  SU2CLC-MSK-A2052-T1  IFNGR1        p.Q184H  Missense_Mutation
890                 Pt29  IFNGR1          K126E  Missense_Mutation
891                 Pt19    RAC1           P29S  Missense_Mutation
892                 Pt30    RAC1           P29S  Missense_Mutation

[893 rows x 4 columns]

In [64]:
df_combined[df_combined["Gene"] == Gene_list[9]]

                    Patient   Gene Protein Change              Class
38983    SU2CLC-DFC-1020-T1  HLA-B        p.H117Y  Missense_Mutation
73190    SU2CLC-MSK-1544-T1  HLA-B        p.W241C  Missense_Mutation
79863   SU2CLC-MSK-A2028-T1  HLA-B        p.E113Q  Missense_Mutation
93920    SU2CLC-UCD-1142-T1  HLA-B        p.D161N  Missense_Mutation
100897    SU2CLC-YAL-103-T1  HLA-B        p.E113*  Nonsense_Mutation

In [141]:
BCLAF1 = df_combined[df_combined["Gene"]=="BCLAF1"]
BCLAF1

                   Patient    Gene Protein Change              Class
220                CGLU113  BCLAF1      1852+3A>T        Splice Site
4745               CGLU181  BCLAF1         498E>Q  Missense_Mutation
5016               CGLU185  BCLAF1         133Y>H  Missense_Mutation
10554              CGLU274  BCLAF1           Q82*  Nonsense_Mutation
15182              CGLU515  BCLAF1          E388Q  Missense_Mutation
57455   SU2CLC-MGH-1511-T1  BCLAF1        p.P837A  Missense_Mutation
101862   SU2CLC-YAL-108-T1  BCLAF1        p.D739E  Missense_Mutation
106808                 20A  BCLAF1        p.G452E  Missense_Mutation
109218                 20E  BCLAF1        p.G452E  Missense_Mutation
112323                 24C  BCLAF1        p.R522Q  Missense_Mutation
112324                 24C  BCLAF1        p.P301S  Missense_Mutation
113399                 25A  BCLAF1        p.E172K  Missense_Mutation
113673                 25C  BCLAF1        p.E172K  Missense_Mutation
119270                 33C  BCLAF1        p.E170K  Missense_Mutation
123786                 41A  BCLAF1        p.V554L  Missense_Mutation
126440                 47A  BCLAF1        p.S320L  Missense_Mutation
138801                 Pt1  BCLAF1          D357N  Missense_Mutation
147567                 Pt7  BCLAF1          Q607*  Nonsense_Mutation
150990                Pt14  BCLAF1          E329K  Missense_Mutation
152874                Pt16  BCLAF1          Y511C  Missense_Mutation
155961                Pt23  BCLAF1          K441R  Missense_Mutation

                    Patient    Gene Protein Change                 Class
0      SU2CLC-CLE-NIVO18-T1   AAMDC        p.H568D     Missense_Mutation
1      SU2CLC-CLE-NIVO18-T1   ABCC6        p.D616H     Missense_Mutation
2      SU2CLC-CLE-NIVO18-T1   AIMP2         p.H10D     Missense_Mutation
3      SU2CLC-CLE-NIVO18-T1    APC2        p.A562V     Missense_Mutation
4      SU2CLC-CLE-NIVO18-T1  ARPP21         p.I11T     Missense_Mutation
...                     ...     ...            ...                   ...
84907     SU2CLC-YAL-111-T1  RBFOX1       p.R388fs  Frameshift Insertion
84908     SU2CLC-YAL-111-T1  OR2T11        p.A35fs   Frameshift Deletion
84909     SU2CLC-YAL-111-T1     NEB      p.G1063fs   Frameshift Deletion
84910     SU2CLC-YAL-111-T1  MAP4K1       p.A390fs   Frameshift Deletion
84911     SU2CLC-YAL-111-T1   OR4C6       p.I265fs  Frameshift Insertion

[84912 rows x 4 columns]

In [66]:
ID = Gene_data["Patient"]
ID_list = list(ID)
unique_ID = []
[unique_ID.append(item) for item in ID_list if item not in unique_ID]
print(len(unique_ID))

430

In [34]:
a = list(df_combined["Gene"])
frequency = pd.Series(a).value_counts()

print(frequency["NRAS"])

64

In [46]:
print(frequency["HLA-B"])

5

In [87]:
Gene_data

                 Patient    Gene Protein Change              Class
0                CGLU111    TP53       993+1G>T        Splice Site
1                CGLU113    TP53         214H>R  Missense_Mutation
2                CGLU115    TP53         298E>X  Nonsense_Mutation
3                CGLU116    TP53         331Q>X  Nonsense_Mutation
4                CGLU117    TP53         193H>R  Missense_Mutation
..                   ...     ...            ...                ...
888  SU2CLC-MSK-A2028-T1  IFNGR1        p.E323G  Missense_Mutation
889  SU2CLC-MSK-A2052-T1  IFNGR1        p.Q184H  Missense_Mutation
890                 Pt29  IFNGR1          K126E  Missense_Mutation
891                 Pt19    RAC1           P29S  Missense_Mutation
892                 Pt30    RAC1           P29S  Missense_Mutation

[893 rows x 4 columns]

In [90]:
Gene_descending = Gene_data.sort_values(by='Patient', ascending=False)
b = list(Gene_descending["Patient"])
frequency = pd.Series(b).value_counts()
Patient_list = frequency[frequency >= 3]
Patient_list = list(Patient_list.index)
Patient_list

for i in range(len(Gene_list)):
    temp = df_combined[df_combined["Gene"] == Gene_list[i]]
    Gene_data = pd.concat([Gene_data, temp], axis = 0, ignore_index=True)

Gene_data

                Patient    Gene Protein Change                Class
829  SU2CLC-YAL-2537-T1   STK11       p.L282fs  Frameshift Deletion
403  SU2CLC-YAL-2537-T1    KRAS         p.G12C    Missense_Mutation
605  SU2CLC-YAL-2532-T1  PIK3CA        p.E726K    Missense_Mutation
402  SU2CLC-YAL-2525-T1    KRAS         p.G12C    Missense_Mutation
257  SU2CLC-YAL-2525-T1    TP53        p.Y163C    Missense_Mutation
..                  ...     ...            ...                  ...
539                 16C    EGFR        p.A955V    Missense_Mutation
723                 16C    TAP1        p.D278N    Missense_Mutation
425                 15C    BRAF        p.V600E    Missense_Mutation
878                 15C    FAT1         p.G91R    Missense_Mutation
424                 12A    BRAF        p.V600E    Missense_Mutation

[893 rows x 4 columns]

In [107]:
Mutation_data = pd.DataFrame()

for Pt in range(len(Patient_list)):
    pt_temp = Gene_data[Gene_data["Patient"] == Patient_list[Pt]]
    Mutation_data = pd.concat([Mutation_data, pt_temp], axis = 0, ignore_index=True)

Mutation_data

                 Patient    Gene Protein Change              Class
0                    50C    TP53        p.F134S  Missense_Mutation
1                    50C    BRAF        p.V600E  Missense_Mutation
2                    50C    BRAF        p.V600M  Missense_Mutation
3                    50C    BRAF        p.S446L  Missense_Mutation
4                    50C    BRAF        p.P318S  Missense_Mutation
..                   ...     ...            ...                ...
405              CGLU181    KRAS          47D>Y  Missense_Mutation
406              CGLU181  BCLAF1         498E>Q  Missense_Mutation
407  SU2CLC-MSK-A2033-T1    TP53        p.R273G  Missense_Mutation
408  SU2CLC-MSK-A2033-T1    KRAS         p.G13R  Missense_Mutation
409  SU2CLC-MSK-A2033-T1   STK11            NaN        Splice Site

[410 rows x 4 columns]

In [110]:
matrix = Mutation_data.pivot_table(index='Gene', columns='Patient', values='Class', aggfunc='sum')

In [116]:
Mutation_data

                 Patient    Gene Protein Change              Class
0                    50C    TP53        p.F134S  Missense_Mutation
1                    50C    BRAF        p.V600E  Missense_Mutation
2                    50C    BRAF        p.V600M  Missense_Mutation
3                    50C    BRAF        p.S446L  Missense_Mutation
4                    50C    BRAF        p.P318S  Missense_Mutation
..                   ...     ...            ...                ...
405              CGLU181    KRAS          47D>Y  Missense_Mutation
406              CGLU181  BCLAF1         498E>Q  Missense_Mutation
407  SU2CLC-MSK-A2033-T1    TP53        p.R273G  Missense_Mutation
408  SU2CLC-MSK-A2033-T1    KRAS         p.G13R  Missense_Mutation
409  SU2CLC-MSK-A2033-T1   STK11            NaN        Splice Site

[410 rows x 4 columns]

In [124]:
Patient_list
Patient_list1 = [s[:-3] if s.endswith("-T1") else s for s in Patient_list]
Patient_list1
#Pt4, 14, 1, 27, 19, 16, 7, 30, 23

['50C',
 '50A',
 '20E',
 '20A',
 'SU2CLC-MSK-1357',
 'SU2CLC-DFC-DF0775',
 'SU2CLC-MSK-1026',
 '54C',
 '24C',
 'SU2CLC-DFC-DF0790',
 'SU2CLC-DFC-1018',
 'CGLU515',
 '54A',
 'SU2CLC-DFC-1516',
 'Pt4',
 'SU2CLC-MSK-A2012',
 '34A',
 'Pt14',
 'SU2CLC-MSK-A2028',
 'SU2CLC-COL-1001',
 'CGLU311',
 'SU2CLC-MSK-A2068',
 'SU2CLC-MGH-1412',
 'SU2CLC-MGH-1164',
 'SU2CLC-MSK-1549',
 'SU2CLC-MSK-A2052',
 'SU2CLC-MSK-A2002',
 'SU2CLC-MSK-A2040',
 'SU2CLC-MGH-1129',
 'SU2CLC-MGH-1051',
 '47A',
 'Pt1',
 'Pt27',
 'SU2CLC-DFC-DF0902',
 'SU2CLC-MSK-1025',
 'SU2CLC-YAL-111',
 'SU2CLC-YAL-108',
 '25C',
 'SU2CLC-MSK-A2025',
 'Pt19',
 'Pt16',
 'SU2CLC-MSK-1096',
 'CGLU233',
 'SU2CLC-COL-1031',
 'CGLU270',
 'CGLU268',
 'SU2CLC-MSK-1029',
 'Pt7',
 'SU2CLC-MSK-1550',
 'SU2CLC-COL-1025',
 'SU2CLC-MGH-1054',
 'SU2CLC-CLE-NIVO3',
 'CGLU201',
 'SU2CLC-DFC-DF0421',
 'CGLU193',
 'SU2CLC-MGH-1162',
 'Pt30',
 'SU2CLC-MSK-1088',
 'SU2CLC-MSK-1102',
 'SU2CLC-MGH-1417',
 'SU2CLC-MSK-1544',
 'SU2CLC-MSK-1543',
 'SU2CLC-DFC-1437',
 'SU2CLC-DFC-1429',
 'SU2CLC-MSK-1082',
 'CGLU514',
 'SU2CLC-MSK-1084',
 'SU2CLC-MSK-1085',
 'CGLU521',
 'Pt23',
 'SU2CLC-MSK-1100',
 'SU2CLC-MSK-1116',
 'CGLU341',
 'SU2CLC-MGH-1575',
 'SU2CLC-DFC-DF0770',
 'SU2CLC-MSK-A2070',
 'SU2CLC-JHU-0017',
 '49E',
 'SU2CLC-MSK-A2032',
 'SU2CLC-MSK-A2083',
 'SU2CLC-MSK-A2088',
 '3C',
 'SU2CLC-MSK-A2091',
 '33C',
 '26C',
 'SU2CLC-UCD-1142',
 'SU2CLC-UCD-1145',
 '25A',
 'SU2CLC-YAL-104',
 'SU2CLC-YAL-2503',
 'SU2CLC-YAL-2507',
 '19D',
 'SU2CLC-YAL-2511',
 'SU2CLC-DFC-DF0908',
 'SU2CLC-YAL-2518',
 '18A',
 'SU2CLC-DFC-DF0910',
 'SU2CLC-JHU-0006',
 '5A',
 'SU2CLC-MSK-A2082',
 'CGLU185',
 'CGLU125',
 'CGLU135',
 'SU2CLC-MDA-1563',
 'SU2CLC-MSK-A2043',
 'SU2CLC-MSK-A2049',
 'CGLU168',
 'SU2CLC-MSK-A2051',
 'SU2CLC-MSK-A2055',
 'CGLU172',
 'CGLU181',
 'SU2CLC-MSK-A2033']

In [135]:
Clinical = pd.read_csv("/Users/tomasyang/Documents/YANG/科研/雪鸢组/杨强/HINS/R/Cohorts/Results.csv")
Clinical = Clinical[["Sample.ID", "Cancer", "Smoking", "Response"]]

Clinical_list = [s+"-T1" if s.startswith("SU2CLC") else s for s in Clinical["Sample.ID"]] #与Mutation数据中的Patient ID保持一致

Clinical["Sample.ID"] = Clinical_list
Clinical_data = pd.DataFrame()
for pt in range(len(Patient_list)):
    Cl_temp = Clinical[Clinical["Sample.ID"] == Patient_list[pt]]
    Clinical_data = pd.concat([Clinical_data, Cl_temp], axis = 0, ignore_index=True)

Clinical_data

               Sample.ID Cancer Smoking  Response
0                    50C   SKCM     NaN       0.0
1                    50A   SKCM     NaN       0.0
2                    20E   SKCM     NaN       0.0
3                    20A   SKCM     NaN       0.0
4     SU2CLC-MSK-1357-T1  NSCLC     YES       1.0
..                   ...    ...     ...       ...
98   SU2CLC-MSK-A2051-T1  NSCLC     YES       1.0
99   SU2CLC-MSK-A2055-T1  NSCLC     YES       0.0
100              CGLU172  NSCLC     YES       1.0
101              CGLU181  NSCLC     YES       1.0
102  SU2CLC-MSK-A2033-T1  NSCLC     YES       1.0

[103 rows x 4 columns]

In [98]:
Patient_list = frequency[frequency >= 3]
Patient_list = list(Patient_list.index)
Patient_list

50C                    9
50A                    8
20E                    8
20A                    7
SU2CLC-MSK-1357-T1     6
                      ..
SU2CLC-MSK-A2051-T1    3
SU2CLC-MSK-A2055-T1    3
CGLU172                3
CGLU181                3
SU2CLC-MSK-A2033-T1    3
Name: count, Length: 112, dtype: int64

In [109]:
len(Patient_list)

112

In [88]:
Gene_data.to_csv("Gene_data.CSV", index = None)

In [114]:
matrix.to_csv("matrix.CSV")

In [136]:
Clinical_data.to_csv("Clinical data.csv", index = None)